body {
  background: #111;
  color: #fff;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.photobooth {
  position: relative;
  text-align: center;
}

video {
  aspect-ratio: 4 / 5;
  border: 2px solid #fff;
  width: 328px;
  height: auto;
  object-fit: cover;
  filter: contrast(1.1) brightness(1.05) saturate(1.2) sepia(0.05);
}

canvas {
  display: none;
}

#countdown {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 48px;
  color: red;
}

#capture-btn {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
}

#download {
  display: block;
  margin-top: 20px;
  color: #00ffcc;
}

#intro-video {
  width: 240px;
  aspect-ratio: 4 / 5;
  height: auto;
  object-fit: cover;
  border: 2px solid #00ffcc;
  border-radius: 8px;
  margin-top: 20px;
  
}
